<a href="https://colab.research.google.com/github/johnpharmd/LS-DS-Unit-1-Project/blob/master/LS_DS_Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00296/dataset_diabetes.zip

--2018-12-10 19:15:41--  https://archive.ics.uci.edu/ml/machine-learning-databases/00296/dataset_diabetes.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.249
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.249|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3347213 (3.2M) [application/zip]
Saving to: ‘dataset_diabetes.zip.2’

dataset_diabetes.zi 100%[===================>]   3.19M  4.06MB/s    in 0.8s

2018-12-10 19:15:42 (4.06 MB/s) - ‘dataset_diabetes.zip.2’ saved [3347213/3347213]

In [0]:
!unzip dataset_diabetes.zip

Archive:  dataset_diabetes.zip
replace dataset_diabetes/diabetic_data.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: dataset_diabetes/diabetic_data.csv
replace dataset_diabetes/IDs_mapping.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: a
error:  invalid response [a]
replace dataset_diabetes/IDs_mapping.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: dataset_diabetes/IDs_mapping.csv

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [0]:
df = pd.read_csv('dataset_diabetes/diabetic_data.csv')
icd9_df = pd.read_csv('https://raw.githubusercontent.com/drobbins/ICD9/master/icd9.txt', delimiter='\t', encoding='ISO-8859-1')

In [0]:
print(icd9_df.shape)
icd9_df.head()

(14567, 4)

,DIAGNOSIS CODE,LONG DESCRIPTION,SHORT DESCRIPTION,Unnamed: 3
0,0010,Cholera due to vibrio cholerae,Cholera d/t vib cholerae,NaN
1,0011,Cholera due to vibrio cholerae el tor,Cholera d/t vib el tor,NaN
2,0019,"Cholera, unspecified",Cholera NOS,NaN
3,0020,Typhoid fever,Typhoid fever,NaN
4,0021,Paratyphoid fever A,Paratyphoid fever a,NaN

In [0]:
icd9_df = icd9_df.drop('Unnamed: 3', axis=1)

In [0]:
icd9_df.head()

,DIAGNOSIS CODE,LONG DESCRIPTION,SHORT DESCRIPTION
0,0010,Cholera due to vibrio cholerae,Cholera d/t vib cholerae
1,0011,Cholera due to vibrio cholerae el tor,Cholera d/t vib el tor
2,0019,"Cholera, unspecified",Cholera NOS
3,0020,Typhoid fever,Typhoid fever
4,0021,Paratyphoid fever A,Paratyphoid fever a

In [0]:
icd9_df.columns

Index(['DIAGNOSIS CODE', 'LONG DESCRIPTION', 'SHORT DESCRIPTION'], dtype='object')

In [0]:
print(df.shape)
df.head()

(101766, 50)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [0]:
df.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [0]:
df.race.unique()

In [0]:
df.isin(['?']).sum()

In [0]:
df.weight.value_counts()

?            98569
[75-100)      1336
[50-75)        897
[100-125)      625
[125-150)      145
[25-50)         97
[0-25)          48
[150-175)       35
[175-200)       11
>200             3
Name: weight, dtype: int64

In [0]:
df.age.value_counts()

In [0]:
df.A1Cresult.value_counts()

None    84748
>8       8216
Norm     4990
>7       3812
Name: A1Cresult, dtype: int64

In [0]:
df.metformin.value_counts()

No        81778
Steady    18346
Up         1067
Down        575
Name: metformin, dtype: int64

In [0]:
df.diag_1.value_counts()

428       6862
414       6581
786       4016
410       3614
486       3508
427       2766
491       2275
715       2151
682       2042
434       2028
780       2019
996       1967
276       1889
38        1688
250.8     1680
599       1595
584       1520
V57       1207
250.6     1183
518       1115
820       1082
577       1057
493       1056
435       1016
562        989
574        965
296        896
560        876
250.7      871
250.13     851
          ...
299          1
347          1
V07          1
691          1
885          1
391          1
698          1
700          1
955          1
543          1
325          1
143          1
957          1
V25          1
250.51       1
145          1
791          1
477          1
V70          1
832          1
84           1
870          1
895          1
373          1
637          1
98           1
133          1
838          1
994          1
57           1
Name: diag_1, Length: 717, dtype: int64

In [0]:
# Compare how ICD-9 codes are constructed in each dataframe
print('in icd9_df:', [x for x in icd9_df['DIAGNOSIS CODE'] if '428' in x][:10])

print('in df:', [y for y in df.diag_1 if '428' in y][:10])

in icd9_df: ['1428', '24280', '24281', '34280', '34281', '34282', '4280', '4281', '42820', '42821']
in df: ['428', '428', '428', '428', '428', '428', '428', '428', '428', '428']

In [0]:
# Drop 'weight' from df, given that ~96.9% of observations have '?'
df = df.drop('weight', axis=1)

In [0]:
df.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,?,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,?,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,?,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,?,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,?,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [0]:
# 'Citoglipton' does not appear to be a valid generic drug name for Januvia
df = df.rename(columns={'citoglipton': 'sitagliptin'})

In [0]:
df.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'sitagliptin', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 49 columns):
encounter_id                101766 non-null int64
patient_nbr                 101766 non-null int64
race                        101766 non-null object
gender                      101766 non-null object
age                         101766 non-null object
admission_type_id           101766 non-null int64
discharge_disposition_id    101766 non-null int64
admission_source_id         101766 non-null int64
time_in_hospital            101766 non-null int64
payer_code                  101766 non-null object
medical_specialty           101766 non-null object
num_lab_procedures          101766 non-null int64
num_procedures              101766 non-null int64
num_medications             101766 non-null int64
number_outpatient           101766 non-null int64
number_emergency            101766 non-null int64
number_inpatient            101766 non-null int64
diag_1                      101766 non-null object
diag_2                      101766 non-null object
diag_3                      101766 non-null object
number_diagnoses            101766 non-null int64
max_glu_serum               101766 non-null object
A1Cresult                   101766 non-null object
metformin                   101766 non-null object
repaglinide                 101766 non-null object
nateglinide                 101766 non-null object
chlorpropamide              101766 non-null object
glimepiride                 101766 non-null object
acetohexamide               101766 non-null object
glipizide                   101766 non-null object
glyburide                   101766 non-null object
tolbutamide                 101766 non-null object
pioglitazone                101766 non-null object
rosiglitazone               101766 non-null object
acarbose                    101766 non-null object
miglitol                    101766 non-null object
troglitazone                101766 non-null object
tolazamide                  101766 non-null object
examide                     101766 non-null object
sitagliptin                 101766 non-null object
insulin                     101766 non-null object
glyburide-metformin         101766 non-null object
glipizide-metformin         101766 non-null object
glimepiride-pioglitazone    101766 non-null object
metformin-rosiglitazone     101766 non-null object
metformin-pioglitazone      101766 non-null object
change                      101766 non-null object
diabetesMed                 101766 non-null object
readmitted                  101766 non-null object
dtypes: int64(13), object(36)
memory usage: 38.0+ MB

In [0]:
df.max_glu_serum.value_counts()

None    96420
Norm     2597
>200     1485
>300     1264
Name: max_glu_serum, dtype: int64

In [0]:
df.metformin.value_counts()

No        81778
Steady    18346
Up         1067
Down        575
Name: metformin, dtype: int64

In [0]:
df.loc[(df.max_glu_serum != 'None') & (df.metformin != 'No')]

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,sitagliptin,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
696,5319174,87847776,Other,Male,[70-80),6,6,7,11,?,...,No,No,No,No,No,No,No,No,Yes,NO
800,6318930,27274527,Caucasian,Female,[40-50),6,1,1,3,?,...,No,No,No,No,No,No,No,No,Yes,NO
961,7296540,56993832,Hispanic,Female,[50-60),6,1,7,2,?,...,No,No,No,No,No,No,No,No,Yes,<30
1280,9030192,108960345,Caucasian,Female,[40-50),6,1,7,3,?,...,No,No,No,No,No,No,No,Ch,Yes,>30
1617,10868700,87934473,Caucasian,Female,[40-50),6,1,7,4,?,...,No,No,No,No,No,No,No,No,Yes,NO
2791,17835696,93516498,Caucasian,Female,[80-90),6,1,7,11,?,...,No,Up,No,No,No,No,No,Ch,Yes,NO
3143,19851918,23363865,Caucasian,Male,[50-60),5,5,17,3,?,...,No,Steady,No,No,No,No,No,Ch,Yes,<30
3174,19985862,23592294,Hispanic,Female,[50-60),5,1,17,1,?,...,No,Down,No,No,No,No,No,Ch,Yes,>30
3243,20307552,23661639,Caucasian,Male,[70-80),5,1,17,5,?,...,No,No,No,No,No,No,No,Ch,Yes,NO
3300,20620008,23488398,Caucasian,Male,[50-60),5,2,17,2,?,...,No,Steady,No,No,No,No,No,Ch,Yes,>30
3328,20807994,23639148,Caucasian,Female,[70-80),5,1,17,1,?,...,No,No,No,No,No,No,No,Ch,Yes,>30
3374,20887740,23381154,Caucasian,Male,[70-80),5,6,17,2,?,...,No,No,No,No,No,No,No,Ch,Yes,>30
3392,20983914,23503464,Caucasian,Male,[70-80),1,6,17,3,?,...,No,Steady,No,No,No,No,No,Ch,Yes,<30
3410,21122676,23798808,Caucasian,Male,[40-50),5,6,17,3,?,...,No,Up,No,No,No,No,No,Ch,Yes,NO
3549,21828036,1804995,Caucasian,Male,[50-60),6,2,7,1,?,...,No,Steady,No,No,No,No,No,Ch,Yes,>30
3579,21938526,24049845,Caucasian,Male,[30-40),1,1,17,4,?,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
3589,21981708,23454099,Caucasian,Female,[70-80),5,1,17,1,?,...,No,No,No,No,No,No,No,Ch,Yes,NO
3609,22045470,23503464,Caucasian,Male,[70-80),1,6,17,2,?,...,No,No,No,No,No,No,No,No,Yes,>30
3662,22186176,24993873,Caucasian,Female,[70-80),2,3,17,3,?,...,No,No,No,No,No,No,No,Ch,Yes,>30
3692,22302564,25518645,Caucasian,Male,[80-90),5,6,17,3,?,...,No,Steady,No,No,No,No,No,Ch,Yes,>30
3974,23430600,23929020,Caucasian,Male,[80-90),1,1,17,1,?,...,No,No,No,No,No,No,No,No,Yes,>30
4115,23913888,23638104,Caucasian,Female,[50-60),5,3,17,3,?,...,No,No,No,No,No,No,No,Ch,Yes,>30
4229,24267486,23844609,Caucasian,Male,[40-50),5,1,17,3,?,...,No,No,No,No,No,No,No,Ch,Yes,>30
4281,24471150,23514174,Caucasian,Male,[60-70),1,1,17,1,?,...,No,No,No,No,No,No,No,Ch,Yes,NO
4360,24843030,24289578,Caucasian,Male,[60-70),1,6,17,6,?,...,No,Up,No,No,No,No,No,Ch,Yes,>30
4393,24899208,23534631,Caucasian,Female,[70-80),5,6,17,2,?,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
4589,25587354,23578182,Caucasian,Male,[70-80),5,3,17,5,?,...,No,Steady,No,No,No,No,No,Ch,Yes,>30
4744,26136330,26030880,Caucasian,Female,[60-70),1,3,17,9,?,...,No,Down,No,No,No,No,No,Ch,Yes,>30
4800,26301720,26020656,Caucasian,Male,[60-70),5,3,17,5,?,...,No,No,No,No,No,No,No,Ch,Yes,<30
4810,26310600,23495121,Caucasian,Male,[70-80),1,3,17,5,?,...,No,No,No,No,No,No,No,No,Yes,>30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78992,241756062,109661355,Caucasian,Female,[60-70),1,1,7,3,CP,...,No,No,No,No,No,No,No,No,Yes,NO
79191,242835960,81529029,Caucasian,Female,[50-60),6,1,7,2,?,...,No,Steady,No,No,No,No,No,Ch,Yes,>30
80372,247796832,84402333,Caucasian,Female,[60-70),1,1,7,5,CP,...,No,No,No,No,No,No,No,Ch,Yes,<30
80567,248458044,37459989,Caucasian,Female,[70-80),1,6,7,8,MC,...,No,No,No,No,No,No,No,Ch,Yes,>30
82847,258510000,49001697,Hispanic,Male,[40-50),6,1,7,4,?,...,No,No,No,No,No,No,No,No,Yes,NO
84979,268688352,31888431,AfricanAmerican,Male,[30-40),1,1,7,3,CP,...,No,No,No,No,No,No,No,No,Yes,NO
85157,269441646,62551566,Hispanic,Female,[40-50),6,1,7,7,?,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
86026,273022722,65278170,Caucasian,Male,[60-70),6,1,7,3,?,...,No,No,No,No,No,No,No,No,Yes,NO
86072,273291840,87630543,Caucasian,Male,[40-50),1,1,7,4,HM,...,No,No,No,No,No,No,No,Ch,Yes,NO
87447,279276918,85894083,Caucasian,Female,[60-70),1,1,7,5,MC,...,No,No,No,No,No,No,No,Ch,Yes,>30
88841,286239576,40020345,Caucasian,Male,[50-60),1,1,7,3,CP,...,No,No,No,No,No,No,No,No,Yes,NO
90668,298938452,61557903,Caucasian,Male,[80-90),6,2,7,3,?,...,No,No,No,No,No,No,No,No,Yes,NO
90742,300116138,85419072,AfricanAmerican,Female,[30-40),6,1,7,8,?,...,No,No,No,No,No,No,No,No,Yes,NO
91001,303658202,103971366,Caucasian,Male,[70-80),1,1,7,8,HM,...,No,No,No,No,No,No,No,Ch,Yes,<30
91569,310847234,108501948,Caucasian,Female,[60-70),6,1,7,2,?,...,No,No,No,No,No,No,No,No,Yes,NO
93464,336036188,94571982,Caucasian,Male,[50-60),1,1,7,4,BC,...,No,No,No,No,No,No,No,Ch,Yes,NO
93663,338947304,84329010,Caucasian,Female,[70-80),1,11,7,6,HM,...,No,No,No,No,No,No,No,No,Yes,NO
94730,351945332,54686052,Caucasian,Female,[50-60),6,2,7,6,?,...,No,No,No,No,No,No,No,No,Yes,<30
94891,353788238,84691161,Caucasian,Female,[50-60),1,1,7,5,HM,...,No,No,No,No,No,No,No,No,Yes,>30
94919,354348818,87693084,Caucasian,Female,[60-70),1,1,7,5,HM,...,No,No,No,No,No,No,No,Ch,Yes,>30
95428,361900352,89166420,Hispanic,Male,[60-70),6,1,7,3,?,...,No,No,No,No,No,No,No,No,Yes,>30
95829,366757220,74878344,Caucasian,Male,[60-70),6,1,7,3,?,...,No,No,No,No,No,No,No,Ch,Yes,NO
96318,373700546,51139359,Caucasian,Male,[40-50),6,1,7,5,?,...,No,Up,No,No,No,No,No,Ch,Yes,NO
98993,407914478,91334790,Caucasian,Female,[60-70),1,3,7,6,WC,...,No,No,No,No,No,No,No,Ch,Yes,NO
99747,417254210,37349451,Caucasian,Female,[30-40),6,1,7,1,?,...,No,No,No,No,No,No,No,No,Yes,NO
101002,433721954,102464694,Hispanic,Male,[80-90),6,1,7,6,?,...,No,No,No,No,No,No,No,No,Yes,NO
101029,433822712,104106645,Caucasian,Male,[50-60),1,1,7,7,BC,...,No,No,No,No,No,No,No,Ch,Yes,>30
101070,434412938,85277439,AfricanAmerican,Female,[30-40),1,1,7,5,HM,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
101088,434900486,126428594,AfricanAmerican,Male,[40-50),6,7,7,2,?,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
101100,434928416,59178681,Caucasian,Female,[70-80),6,6,7,2,?,...,No,No,No,No,No,No,No,No,Yes,>30